  .credentialsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
  }

  .anonymous{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #acacac;
  }

  .anonymous:hover{
    transform: scale(1.02);
    cursor: pointer;
  }

  .anonymousInterrogation{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 280px;
    background-color: #8fbfff;
    border-radius: 3px;
    width: 100%;
    height: 90%;
  }

  .login{
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #acacac;
  }

  .login:hover{
    transform: scale(1.02);
    cursor: pointer;
  }

  .imageLogin{
    border-radius: 5px;
    object-fit: cover;
    height: 253px;
}

.price{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #ffffff;
  font-weight: 700;
  top: 0;
  bottom: 1;
  right: 0;
  left: 1;
}

.container{
  position: relative;
  margin: 15px;
  height: 550px;
}

.paymentsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.paymentOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 5px;
  border: none;
  height: 450px;
  width: 400px;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #cccccc;
}

.paymentTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 5px;
  border: none;
  height: 450px;
  width: 400px;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #cccccc;
}

.image{
  width: 320px;
  border-radius: 4px;
}

.image:hover{
 cursor: pointer;
}

.textArea{
  width: 400px;
  height: 100px;
  resize: none;
  outline: none;
  border: 1px solid #ffa600;
}

.textAreaError{
  width: 400px;
  height: 100px;
  resize: none;
  outline: none;
  border: 1px solid #ff3c3c;
}

.textErrorContainer{
  width: 400px;
}

.textError{
  color: #ff3c3c;
  font-size: 14px;
}

.premium{
  border: 1px solid #ff5f5f;
  margin: 5px;
  border-radius: 4px;
}


.loaderContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
 align-items: center;
 flex-direction: column;
  transform: translate(-50%, -50%);
  overflow-y: hidden;
}

.overlay{
  overflow-y: hidden;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.generatingText{
  font-weight: 700;
  
}

.inputContainer{
  display: flex;
  flex-direction: column;  
}

.generateButton{
  background-color: #ffa600;
  color: #ffffff;
  font-weight: 800;
  padding: 5px;
  border-radius: 0px 0px 6px 6px;
  outline: none;
  border: none;
}

.generateButton{
  cursor: pointer;
}

.submitDisabled{
  pointer-events: none;
  background-color: #ffa60073;
}

.generateButtonError{
  background-color: #ff3c3c;
  color: #ffffff;
  font-weight: 800;
  padding: 5px;
  border-radius: 0px 0px 6px 6px;
  outline: none;
  border: none;
}

.basicPlanText{
  margin: 10px;
  font-weight: 700;
}

.premiumPlan{
  background-color: #fff34e;
  padding: 10px;
  font-weight: 700;
  border-radius: 25px;
}

.examplesMenu{
  display: none;
}

.freePlan{
  padding: 10px;
  font-weight: 700;
}

.textImages{
  margin: 9px;
  font-weight: 700;
}

.maxContainer{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
}


.item{
  margin: 10px;
  border: 1px solid #ffa600;;
  border-radius: 3px;
}

.titleExample{
  color: #ffa600;
}

.examples{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  top: 0;
  left: 0;
  right: 1;
  bottom: 0;
  width: 500px;
  height: 100px;
}

.boxExample{
  margin-top: 50px;
  border-radius: 4px;
  border: 1px solid #ffa600;
}

.images{
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  top: 0;
  left: 1;
  right: 0;
  bottom: 0;
  width: 500px;
}

.advice{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #00d13f;
  width: 100%;
  color: #000000;
  font-weight: 700;
}

.exampleContainer{
  position: absolute;
  background-color: red;
  width: 100vw;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 60px;
}


.generatedImageContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);  
}

.textAreaContainer{
  position: relative;
}

.individualGeneratedImage{
  width: 200px;
  border-radius: 10px;
}

.endResult{
  margin-top: 10px;
  border: 1px solid #505050;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  height: 406px;
  white-space: pre-line;
  overflow-y: scroll;
}

.inputLength{
  position: absolute;
  color: #797979;
  font-size: 11px;
  margin: 5px;
  bottom: 0;
  top: 1;
  right: 0;
  left: 1;
}

.alert{
  background-color: #ff5f5f;
  color: #ffffff;
  font-weight: 700;
}

.separator{
  padding: 5px;
  margin: 5px;
  background-color: #ffa600;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
}


.example{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 1000px;
  height: 100px;
}

@media screen and (max-width: 1200px) {
  .credentialsContainer{
    display: flex;
    height: 100vh;
    flex-direction: column;
  }

  .examplesMenu{
    display:block;
  }

  .exampleContainer{
    display: none;
  }

  .examplesMenu:hover .exampleContainer{
    display: flex;
  }

  .main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }

  .textGeneratedText{
    position: relative;
  }

  .generatedImageContainer{
    display: flex;
    flex-direction: column;
  }

  .images{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    width: 100%;
  }

  .price{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #ffffff;
    font-weight: 700;
    top: 0;
    bottom: 0;
    right: 0;
    left: 1;
  }

  .individualGeneratedImage{
    display: flex;
    width: 110px;
    flex-direction: column;
  }

  .paymentsContainer{
    margin-top: 80px;
    display: flex;
    height: 100vh;
    flex-direction: column;
   
  }

  .container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}
