
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 360px;
  margin: auto;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  width: 100%;
  margin: 10px;
}

.title2{
  border-radius: 5px;
  background-color: rgb(209, 129, 255);
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
}

.bannerContainers{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.bannerHeader{
  background-color: rgb(225, 238, 252);
  font-weight: 500;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid #c2c2c2;
}

.banner1{
  display: flex;
  flex-direction: column;
  background: rgb(255,101,168);
background: linear-gradient(0deg, #f4eaff 0%, rgb(225, 238, 252) 30%);
  box-shadow: 2px 2px 2px #8a8a8a;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  padding: 15px;
  width: 50%;
  height: 100%;
  margin: 3px;
}

.banner2{
  display: flex;
  text-align: center;
  flex-direction: column;
  background: rgb(255,101,168);
  background: linear-gradient(0deg, #f4eaff 0%, rgb(225, 238, 252) 30%);
  padding: 15px;
  box-shadow: 2px 2px 2px #8a8a8a;
  border-radius: 3px 3px 3px 3px;
  width: 50%;
  height: 100%;
  margin: 3px;
}

.rawTextContainer{
  display: flex;
  flex-direction: center;
  align-items: center;
}

.rawText{
  margin: 40px auto;
  font-weight: 700;
  font-size: 16px;
}

.userRawText{
  font-size: 14px;
  margin: 0px;
  border-radius: 4px;
}

.author{
  margin: auto;
  background-color: #d9f3fa;
  padding: 5px;
  border-radius: 15px;
  font-size: 15px;
}

.separator{
  margin-top: 2px;
}

/* CARD CSS */
.historyContainer{
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #a8a8a8;
  padding: 15px;
  height: 289px;
}

.mainContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  position: relative;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffff;
  justify-content: center;
}

.generatedText{
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 15px;
}



.box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}






