.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 20px;
  width: 100%;
  height: 270px;
  margin: auto;
}

.image{
  background-color: blue;
  width: 90%;
  height: 97%;
  margin: 3px;
}

.image2{
  background-color: yellow;
  width: 50%;
  height: 97%;
  margin: 3px;
}