.navbar{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #ffffff;
  font-weight: 700;
  background-color: #000000;
}

.navbarMenu{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
  flex-direction: row;
}

.FAQ{
  cursor: pointer;
}

.home{
  text-align: center;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

.home:hover{
  transform: scale(1.04);
}


.login{
  align-items: center;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.signout{
  border: none;
  font-weight: 600;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
}

.testHeader{
  background-color: red;
  height: 200px;
}

.generatorButton{
  display: flex;
  z-index: 9999999;
  justify-content: center;
  background-color: #000000;
  position: sticky;
  margin: auto;
  top: 0;
}

.disableButton{
    visibility: hidden;
    position: absolute;
}


/* Button CSS */

.rainbowButton {
    height:47px;
    background-image: linear-gradient(90deg, #48b9df 0%, #a14eff 49%, #a14eff 80%, #48b9df 100%);
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:15px;
    font-weight:700;
    color: #ffffff;
    margin: 5px;
    animation:slidebg 9s linear infinite;
  }

 .rainbowButton:hover{
  cursor: pointer;
  transform: scale(1.01);
 } 
  
  @keyframes slidebg {
    to {
      background-position:20vw;
      
    }
  }
  