.expandButton {
  color: #303030;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  height: 35px;
  font-size: 30px;
  margin: 2px;
}

.expandButton:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  margin-top: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }

.modalImagesContainer{
  display: flex;
  justify-content: space-between;
  background-color: red;
  margin: 10px;
  }

  .modalImage{
    width: 130px;
    margin: 5px;
    border-radius: 6px;
  }

.closeButton{
  position: absolute;
  top: 0;
  left: 1;
  right: 0;
  bottom: 1;
  border: none;
  outline: none;
  margin: 10px;
  padding: 15px;
  background-color: #000000;
  color: #d3d3d3;
  font-weight: 700;
  border-radius: 4px;
}

.closeButton:hover{
  cursor: pointer;
}

.rawTextContainer{
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  margin-top: 40px;
}

.modalContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalInfo{
  display: flex;
  flex-direction: column;
}

.modalImageContainer{
  margin: 20px;
}

.textContainer{
  margin: 10px;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
}

  .text{
    white-space: pre-line;
    height: 370px;
}


.authorContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 700;
}


  .textContainer::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    background-color: #F5F5F5; /* Set the background color of the track */
  }

  .textContainer::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Round the corners of the thumb */
    background-color: #636363; /* Set the color of the thumb */
  }

  .textContainer::-webkit-scrollbar-button {
    display: none; /* Hide the buttons */
  }


@media (max-width: 1050px) {
  .modal {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .modal {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }

  .modalImageContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);  
    margin: 10px;
  }

  .modalInfo{
    display: flex;
    flex-direction: column;
  }
  
  .modalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textContainer{
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid #d4d4d4;
    height: 100%;
  }
}